/*  Formatos */

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: grid;
    grid-template-areas:
        "header header header header header"
        "aside menu menu menu menu"
        "aside menu menu menu menu"
        "aside menu menu menu menu"
        "aside footer footer footer footer" ;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr 1fr 1fr auto;
        height: 100vh;
}

/* Header */
header{
    grid-area: header;
    background-color: aqua;   
}

header h1 {
    text-align: center;
    padding: 32px 0px 32px 0px;
}

nav{
    background-color: blueviolet;
    padding: 15px 0px 15px 15px;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

/* Aside */
aside{
    grid-area: aside;
    padding: 16px 32px;
}

.menu-cat{
    border: 1px solid red;
}

aside ul{
    list-style: none;
}

aside ul li{
    padding: 6px 0px;
}
/* Menu */

.mostrador{
    padding: 16px 8px;
    grid-area: menu;
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    overflow: scroll;
        
}

.productos-card{
   
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    text-align: center;
    max-height: 250px;
    min-height: 250px;
}

footer{
    background-color: green;
    grid-area: footer;
    text-align: center;
    border: 1px solid green;
    padding: 32px 32px;
}